<template>
  <q-page
    padding
    class="content-center"
  >
    <div
      class="row"
      v-if="!loaded"
    >
      <q-spinner
        color="primary"
        size="5em"
        thickness="2"
      />
    </div>
    <div
      class="row"
      v-if="loaded"
    >
      <div
        class="col-6 col-md-3 col-lg-2 col-xl-2"
        v-for="image in images"
        v-bind:key="image.id"
      >
        <q-card
          class="q-ma-md"
        >
          <q-card-section>
            <a
              :href="`/files/images/${image.id}`"
              target="_blank"
            >
              <q-img
                :src="`data:${image.extension};base64,${image.thumb}`"
                alt="an image"
                style="max-height: 300px"
              />
            </a>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <div
      v-if="loaded"
      class="row"
    >
      <q-space/>
      <q-btn
        v-if="!moreLoading"
        color="primary"
        label="Load More"
        @click="nextPage(lastID(images))"
      />
      <q-spinner
        v-if="moreLoading"
        color="primary"
        size="3em"
        thickness="2"
      />
      <q-space/>
    </div>
  </q-page>
</template>

<script
  setup
  lang="ts"
>
import { onMounted, reactive, ref } from 'vue'
import { api } from 'boot/axios'

type image = {
  id: string
  extension: string
  thumb: string
}

let images = reactive<image[]>([])
const loaded = ref<boolean>(false)
const moreLoading = ref<boolean>(false)

function getImages () {
  api
    .get('/images')
    .then(response => {
      if (response.status !== 200) {
        throw new Error('error getting images')
      }
      images = images.concat(response.data)
    })
    .finally(() => {
      loaded.value = true
    })
}

function nextPage (lastID: string) {
  moreLoading.value = true
  api
    .get(`/images?lastID=${lastID}`)
    .then(response => {
      if (response.status !== 200) {
        throw new Error('error getting images')
      }
      images = images.concat(response.data)
    })
    .finally(() => {
      moreLoading.value = false
    })
}

function lastID (images: image[]) {
  return images[images.length - 1].id
}

onMounted(() => {
  getImages()
})
</script>
