<template>
  <q-page padding>
    <div v-if="!uploading">
      <q-form>
        <div class="row">
          <q-space/>
          <q-file
            dark
            multiple
            label="File(s)"
            class="col-6"
            v-model="files"
          >
            <template v-slot:prepend>
              <q-icon name="attachment"/>
            </template>
          </q-file>
          <q-space/>
        </div>
        <div class="row">
          <q-space/>
          <div class="col-6 text-right q-pt-sm">
            <q-btn
              color="primary"
              label="Upload"
              @click="uploadHandler"
            />
          </div>
          <q-space/>
        </div>
      </q-form>
    </div>
    <div v-if="uploading">
      <q-spinner
        color="primary"
        size="3em"
        thickness="2"
      />
    </div>
  </q-page>
</template>

<script
  lang="ts"
  setup
>

import { api } from 'boot/axios'
import { onMounted, onUnmounted, ref } from 'vue'
import { useRouter } from 'vue-router'

const files = ref<null | File[] | File>(null)
const uploading = ref<boolean>(false)
const router = useRouter()

function pasteHandler (e: ClipboardEvent) {
  if (!e.clipboardData) {
    return
  }
  files.value = []
  for (const item in e.clipboardData.items) {
    if (e.clipboardData.items[item].kind !== 'file') {
      continue
    }
    const file = e.clipboardData.items[item].getAsFile()
    if (file === null) {
      continue
    }
    files.value.push(file)
  }
  uploadHandler()
}

function uploadHandler () {
  uploading.value = true
  const fd = new FormData()
  if (files.value instanceof File) {
    fd.append('files', files.value)
  } else if (files.value instanceof Array) {
    for (const file in files.value) {
      fd.append('files', files.value[file])
    }
  } else {
    return
  }
  api
    .post('/images', fd)
    .finally(() => {
      uploading.value = false
      router.push('/browse')
    })
}

onMounted(() => {
  window.addEventListener('paste', pasteHandler)
})

onUnmounted(() => {
  window.removeEventListener('paste', pasteHandler)
})
</script>
